<div class="ow_superwide ow_automargin">
	<ul id="videoTypeNav" class="ow_content_menu clearfix">
		<li class="active"><a id="vidLink" href="javascript://"><span class="ow_ic_link">{text key='spvideolite+tab_from_link'}</span></a></li>
		<li class=""><a id="vidDragDrop" href="#"><span class="ow_ic_script">{text key='spvideolite+tab_drag_and_drop'}</span></a></li>
		{if isset($uploadFormTpl)}
		<li class=""><a id="vidUpload" href="javascript://"><span class="ow_ic_script">{text key='spvideolite+tab_upload'}</span></a></li>
		{/if}
		<li class=""><a id="vidEmbed" href="javascript://"><span class="ow_ic_script">{text key='spvideolite+tab_embed_code'}</span></a></li>
	</ul>
</div>

<div class="ow_superwide ow_automargin ow_stdmargin">

	<div id="formsWrapper">
	<ul>
		<li id="tab-link-import" style="display:none">
			<table class="ow_table_1 ow_form">
			    <tbody>
			    	<tr class="ow_alt2 ow_tr_first">
			        <td class="ow_value"><input id="fetch_url" placeholder="{text key='spvideolite+explain_paste_link'}"  type="text" id="" /> <br> <span style="display:none;" class="error"></span></td>
			        <td class="ow_desc ow_small" style="text-align:center"><span class="ow_button"><span class="ow_positive"><input value="{text key='spvideolite+btn_check'}" id="spvideo_btn_check" name="check" type="button"></span></span></td>
			    </tr>
				</tbody>
			</table>
			<div id="checkClip_loading" style="display:none">
				<div class="spvideo_ic_loading"></div>
			</div>
			<div id="checkClip_resp_place_holder" style="display:none">
				&nbsp;
			</div>
		</li>		
		<li id="tab-dragdrop">
            <table class="ow_table_1 ow_form">
                <tbody>
                    <tr class="ow_alt2 ow_tr_first">
                    <td class="ow_value">
                        <span>
                           {$dragDropCmp}
                        </span>
                    </td>
                </tr>
            </tbody>
            </table>
            <div id="checkClip_loading" style="display:none">
				<div class="spvideo_ic_loading2"></div>
			</div>
			<div id="checkClip_resp_place_holder2" style="display:none">
				&nbsp;
			</div>
		</li>
		{if isset($uploadFormTpl)}
		<li id="tab-upload" style="display:none">
			{include file=$uploadFormTpl}
		</li>
		{/if}
		<li id="tab-embed" style="visibility:hidden">
			{$embedForm}
		</li>

	</ul>
	</div>

</div>

{literal}
<script type="text/javascript">

$(function (){
	SPVideo.baseUrl = {/literal}'{{url_for_route for="spvideolite.base"}}'{literal};
	SPVideo.loadingElement = $('#checkClip_loading');
	SPVideo.detailElement = $('#checkClip_resp_place_holder');
	SPVideo.checkClipUrl = SPVideo.baseUrl + '/ajax_get_clip';

	$('#spvideo_btn_check').click(function() {
		SPVideo.checkClip( $('#fetch_url').val() );
		$('#spvideo_btn_check').addClass('ow_inprogress');
	});
});

function ClearClasses(){
	$("#videoTypeNav li").removeClass();
	$("#formsWrapper > ul > li").css('display','none');
}

$(function (){
	$('#formsWrapper').css('min-height',$('#tab-embed').outerHeight() + 240 + 'px');
	$('#tab-embed').hide();
	$('#tab-embed').css('visibility','visible');
	$("#tab-link-import").show();
	$("#videoTypeNav a").click(function(e){
		e.preventDefault();
		//check which tab has been clicked
		var getID = $(this).attr('id');
		if(getID == "vidLink"){
			ClearClasses();
			$(this).parent("li").addClass("active");
			$('#tab-link-import').show();
		} else if(getID == "vidUpload"){
			ClearClasses();
			$(this).parent("li").addClass("active");
			$('#tab-upload').show();
		} else if(getID == "vidEmbed"){
			ClearClasses();
			$(this).parent("li").addClass("active");
			$('#tab-embed').show();
		} else if(getID == "vidDragDrop"){
			ClearClasses();
			$(this).parent("li").addClass("active");
			$('#tab-dragdrop').show();
		}

	});
});

</script>
