{$menu}

<div class="tweaksForm ow_wide ow_automargin">
  <table class="ow_table_2">
    <tr class="ow_alt1 ow_tr_first">
      <td class="ow_txtleft">{text key='spvideolite+explain_link_import'}</td>
      <td width="60"><input type="checkbox" {if $tweaks.link_import}checked="checked" {/if}id="link_import" name="link_import"></td>
    </tr>
    <tr class="ow_alt1 ow_tr_first">
      <td class="ow_txtleft">{text key='spvideolite+explain_desc_show_more'}</td>
      <td width="60"><input type="checkbox" {if $tweaks.desc_show_more}checked="checked" {/if}id="desc_show_more" name="desc_show_more"></td>
    </tr>
    <tr class="ow_alt2">
      <td class="ow_txtleft">{text key='spvideolite+explain_fix_long_titles'}</td>
      <td width="60"><input type="checkbox" {if $tweaks.fix_long_titles}checked="checked" {/if}id="fix_long_titles" name="fix_long_titles"></td>
    </tr>
    <tr class="ow_alt1">
      <td class="ow_txtleft">{text key='spvideolite+explain_correct_player_size'}</td>
      <td width="60"><input type="checkbox" {if $tweaks.correct_player_size}checked="checked" {/if}id="correct_player_size" name="correct_player_size"></td>
    </tr>
    <tr class="ow_alt2">
      <td class="ow_txtleft">{text key='spvideolite+explain_player_enlargable'}</td>
      <td width="60"><input type="checkbox" {if $tweaks.player_enlargable}checked="checked" {/if}id="player_enlargable" name="player_enlargable"></td>
    </tr>
    <tr class="ow_alt2">
      <td class="ow_txtleft">{text key='spvideolite+explain_forum_bridge'}</td>
      <td width="60"><input type="checkbox" {if $tweaks.forum_bridge}checked="checked" {/if}id="forum_bridge" name="forum_bridge"></td>
    </tr>
    <tr class="ow_alt2">
      <td class="ow_txtleft">{text key='spvideolite+explain_blog_bridge'}</td>
      <td width="60"><input type="checkbox" {if $tweaks.blog_bridge}checked="checked" {/if}id="blog_bridge" name="blog_bridge"></td>
    </tr>
    <tr class="ow_alt2">
      <td class="ow_txtleft">{text key='spvideolite+explain_force_https_compat'}</td>
      <td width="60"><input type="checkbox" {if $tweaks.force_https_compat}checked="checked" {/if}id="force_https_compat" name="force_https_compat"></td>
    </tr>
  </table>
</div>